<p id="notice"><%= notice %></p>

<p>
  <b>用户名：</b>
  <%= @user.name %>
</p>

<p>
  <b>权限：
  <% case @user.privilege %>
   <% when 0 %>  
   	普通用户
   <% when 1  %>
   	管理员 
  <%end%>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
