<h1><%= @episode.episode_title %></h1>
<video controls="true" width="100%" src= <%= @episode.link %>></video>
<hr/>
<h2>其他可观看集</h2>
<span class="episodes">
	<% @all_episodes.each do |episode| %>
	
		<% if episode.id == @episode.id %>
			<%= episode.episode_title %>
		<% else %>
			<%= link_to episode.episode_title, watch_show_episode_path(episode) %>
		<% end %>
	<% end %>

