/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 //*
 * CSS Framework For HQU
 *
 * Core CSS to reset and preset(CSS的复位和样式库)
 *
 * !!!!!Don't make any changes in this file!!!!!
 *
 * Version: Beta1   Copyright 2011
 */

/* Contents
  
  0-Resets
  2-Presets

*/

/* 0 Resets ----------- */

* {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
	cellspacing:0px;
	cellpadding:0px;
}
ul {
	list-style:none;
}
img{
	border:0;
}
a {
	text-decoration:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 1 Preset ----------- */

.db{
	display:block;
}
.dn {
	display:none;
}
.fl{
	float:left;
	_display:inline;
}
.fr{
	float:right;
	_display:inline;
}
.cl{
	clear:both;
}
.tl {
	text-align:left;
}
.tc {
	text-align:center;
}
.tr {
	text-align:right;
}
.tdn{
	text-decoration:none;
}
.ovh {
	overflow:hidden;
}
.c0{
	color:#000;
}
.cf{
	color:#fff;
}
#bodycontainer{
  width:100%;
  background-color:#eee;
}
#topbg{
  width:100%;
  height:45px;
  background-color:#252525;
}
#top{
  width:950px;
  height:45px;
  margin:auto;
}
#top img{
  width:150px;
  height:45px;
  float:left;
}
.footer {
float:left;
  width:100%;
  height:80px;
  color: #636363;
  margin-top:30px;
  font-size: 12px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f8f8f8;
}
.footer_container{
	padding-left:20px;
	padding-top:10px;
	width:930px;
	margin:auto;
}
.clearfix{
  display: block;
}
#top p{
  width:800px;
  height:35px;
  padding-top:10px;
  float:left;
}
#top p a{
	font-size:16px;
}
#top span{
	color:#eee;
	display:block;
	float:right;
	margin-left:15px;
	font-size:16px;
}
#midbg{
	width:100%;
	height:auto;
}
#midcontainer{
	width:950px;
	height:auto;
	margin:auto;
}
.notice{
	width:910px;
	height:auto;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	margin-top:5px;
	margin-bottom:5px;
	border:1px solid #0dbe00;
	background:#beffb9;
	text-align: center;
	
}
.alert{
	border:1px solid #ff3030;
	background:#f9baba;
}
.hidenotify {
	display: none;
}
