// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.entry{
  margin-top:30px;
  width:500px;
  height:150px;
  float:left;
}
p.imgbg{
  margin-left:25px;
  margin-right:25px;
  width:450px;
  height:150px;
  overflow:hidden;
  box-shadow:3px 3px 5px #999;
}
p.imgbg img{
  width:450px;
  height:auto;
}
p.span{
  //visibility:hidden;
  position:relative;
  top:-150px;
  left:25px;
  width:410px;
  height:110px;
  padding:20px;
  overflow:hidden;
  background:url(bg.png) repeat left top;
}
.span a{
  display:block;
  margin-right:10px;
  margin-bottom:8px;
  padding-left:5px;
  padding-right:5px;
  float:left;
  width:auto;
  min-width:16px;
  height:20px;
  text-align:center;
  border:1px solid #bbb;
  background-color:#ccc;
}
  
.entry p.title{
  position:relative;
  top:-185px;
  left:25px;
  width:450px;
  height:40px;
}
.entry p.title span{
  display:block;
  float:right;
  width:280px;
  height:26px;
  padding-top:7px;
  border:1px solid #fff;
  border-radius:100px 0 0 0;
  background-color:#fff;
  text-align:center;
  font-size:16px;
  font-weight:600;
  color:#333;
  box-shadow:-1px -1px 3px #333;
}
.entry p.title a{
  display:block;
  float:left;
  margin-top:5px;
  margin-left:5px;
  width:70px;
  height:26px;
}
.entry p.title a img{
  width:70px;
  height:26px;
}